body {
    background-color: #eee;
}

#content {
    width: 400px;
    background-color: #fff;
    padding: 0 20px 20px 20px;
    font-family: calibri, serif;
    font-size: 18px;
    color: #444;
    margin: 0 auto;
    max-height: 270px;
    overflow: hidden;
    transition: max-height 0.7s;
}

#content.open {
    max-height: 1000px;
    transition: max-height 0.7s;
}

#show-more {
    background-color: #1594e5;
    color: #fff;
    font-family: calibri, serif;
    display: block;
    width: 140px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    text-decoration: none;
}