body {
    background-color: #eee;
}

#message {
    width: 400px;
    background-color: #085ABA;
    padding: 20px;
    font-family: calibri, serif;
    font-size: 18px;
    color: #444;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #009AA7;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.7s;
}

#message.show {
    opacity: 1;
    transition: opacity 0.7s;
}

#color-changer {
    width: 200px;
    height: 100px;
    margin: 30px auto;
    border: 1px solid #000000;
    background-color: #F6A357;
    transition: background 0.7s;
}

